<template name="MainLayout">
  <link href="https://fonts.googleapis.com/css?family=Candal|Poppins:300|Exo:900" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div id="navmenu">
    {{> Nav }}
  </div>
  <div class="body col-lg-8 col-sm-12">
    <div class="col-sm-12 header">
         <h1>Data J<img src="/images/bear-clear@0,1x.png" class="bear">urnal</h1><br>
         <h2>a bearly intelligent production</h2>
    </div>
    <div class="col-sm-12 page
     col-md-10">
      <div class="content col-sm-12">
        {{> Template.dynamic template=main}}
      </div>
    </div>
  </div>
</template>

<template name="Nav">
  <input type="checkbox" id="menuToggle">
  <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>
  {{#if currentUser}}
  <nav class="menu" id="navmenu">
    <ul>
      <li><a href="/profile"><i class="fa fa-user"></i>{{user.firstName}} {{user.lastName}}</a></li>
      <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
      <li><a href="/journals"><i class="fa fa-book"></i>Journals</a></li>
      <li><a href="/entries"><i class="fa fa-pencil"></i>Entries</a></li>
      <li><a href="/selectjournal"><li class="fa fa-plus"></li>New Entry</a></li>
      <li><a href="/analysis"><li class="fa fa-bar-chart"></li>Analysis</a></li>
      <li><a href="/profile"><li class="fa fa-user"></li>Profile</a></li>
      <li><a href="/bucket"><li class="fa fa-bitbucket"></li>Show Bucket</a></li>
    </ul>
    {{> loginButtons}}
  </nav>
  {{else}}
    <nav class="menu">
      {{> loginButtons}}
    </nav>
  {{/if}}
</template>

<template name="SelectJournal">
  <header><h1>Select Journal To Create a New Entry</h1></header>
  {{#if journals}}
    {{#each journals}}
      <div class='col-sm-6'>
        <div class='journalbook'>
          <center><a href="/newEntry/{{_id}}">{{name}}</a></center>
          <ol>
            {{#each datapoints}}
              <li>{{name}}</li>
            {{/each}}
          </ol>
        </div>

      </div>
    {{/each}}
  {{else}}
    Please create a <a href="/newjournal">New Journal</a>
  {{/if}}
</template>

<template name="NewEntry">
 <div>
    {{#autoForm collection="Entry" id="newEntry" type="insert"}}
      {{>afQuickField name='title'}}
      {{>afQuickField name='journalId'}}
      {{#each value in journals.datapoints}}
        <input name="datapoints.{{@index}}.name" data-schema-key="datapoints.{{@index}}.name" value={{value.name}} readonly type="hidden">
        <input name="datapoints.{{@index}}.description" data-schema-key="datapoints.{{@index}}.description" value={{value.description}} type="hidden">
        <input name="datapoints.{{@index}}.type" data-schema-key="datapoints.{{@index}}.type" value={{value.type}} type="hidden">
        <label>{{value.name}}:<i>{{value.description}}</i></label>
        {{#if (checkFor value.type 'string')}}
          <input type="text" placeholder="{{value.description}}" class="form-control" name="datapoints.{{@index}}.value" data-schema-key="datapoints.{{@index}}.value" value=""><br>
        {{else if (checkFor value.type 'num')}}
            <input type="text" placeholder="{{value.description}}" class="form-control" name="datapoints.{{@index}}.value" data-schema-key="datapoints.{{@index}}.value" value=""><br>
        {{else}}
          <select class="form-control" name="datapoints.{{@index}}.value" data-schema-key="datapoints.{{@index}}.value">
            {{#each option in (buildOptions value.type value.custom_options)}}
              <option>{{option}}</option>
            {{/each}}
          </select><br>

        {{/if}}
      {{/each}}
      {{>afQuickField name='entry' rows=6}}
      <button type="submit">Add Entry!</button>
    {{/autoForm}}
  </div>
</template>

<template name="NewJournal">
  {{> quickForm collection="Journal" id="newJournal" type="insert"}}
</template>

<template name="EditJournal">
  {{> quickForm collection="Journal" doc=journal id="editJournal" type="update"}}
  <span class="delete"><li class="fa fa-trash delete">DELETE JOURNAL</li></span>
</template>

<template name="ViewJournals">
  <header><h1>Journals</h1></header>
  <h3>Select a journal to edit it..</h3>
  {{#each journals}}
    <a href="/editjournal/{{_id}}">{{name}}</a> by: {{username(createdBy)}}<br>
  {{/each}}

  <a href="/newjournal"><br><li class="fa fa-plus"></li>New Journal</a>
</template>

<template name="ViewEntries">
  {{#each entries}}
    <h1><a href="/ViewEntry/{{_id}}">{{title}}</a></h1>
  {{/each}}
</template>

<template name="ViewEntry">
    <h1>{{entry.title}}</h1>
    {{#each entry.datapoints}}
      <b>{{name}} : </b> {{value}}<br>
    {{/each}}
    <b>Entry:</b><br>
    {{entry.entry}}<br>
    <span class="delete"><li class="fa fa-trash delete">DELETE ENTRY</li></span>
</template>



<template name="Analysis">
  <div class="row">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</template>

<template name="ShowBucket">
  Test
  {{#each item in bucketItem}}
    <img src="{{item}}">
  {{/each}}
</template>

<template name="Profile">
  {{#autoForm collection='Meteor.users' doc=user type='update' id='accountForm'}}
    <h1> Please complete all info below for the most accurate metrics.</h1>
    {{> afQuickField name='profile'}}
  <button type='submit' class="btn btn-primary">Save profile</button>
  {{/autoForm}}
</template>

<template name="Registration">
  Finish Registration Here
</template>

<template name="Home">
  <h3>Hey There {{user.firstName}}!</h3>
  <p>
    DataJournal App will allow users to track a daily journal for different activities or
    emotions they wish to track progress or data on. They will be able to customize the data
    points that each entry will record, and will allow data to be automatically collected,
    such as locations throughout the day, weather, astrological events and so on.
  </p>
  <p>
    This data will then be used to find correlation between results or outcomes and different
    data points that are being recorded to allow you to see what events or actions have the
    biggest impact on your output.
  </p>

</template>

<template name="afMaskedInput">
	<input type="text" value="{{this.value}}" {{atts}} />
</template>

<template name="register">
    <form>
        <input type="email" name="registerEmail">
        <input type="password" name="registerPassword">
        <input type="submit" value="Register">
    </form>
</template>

<template name="login">
    <form>
        <input type="email" name="loginEmail">
        <input type="password" name="loginPassword">
        <input type="submit" value="Login">
    </form>
</template>
