<template name="MainLayout">
  <div class="header">
    <h1>Data Journal</h1>
    {{> loginButtons}}
    {{> Nav }}

  </div>
  <div class="content">
    {{> Template.dynamic template=main}}
  </div>
</template>

<template name="SelectJournal">
  <header><h1>Select Journal To Create a New Entry</h1></header>
  {{#each journals}}
    <div>
      <b>Name:</b><br>
      <a href="/newEntry/{{_id}}">{{name}}</a><br>
      <ol>
        {{#each datapoints}}
          <li>{{name}}</li><br>
        {{/each}}
      </ol>

    </div>
  {{/each}}
</template>

<template name="NewEntry">
 <div>
    {{#autoForm collection="Entry" id="newEntry" type="insert"}}
      {{>afQuickField name='title'}}
      {{>afQuickField name='journalId'}}
      {{#each value in journals.datapoints}}
      <input name="datapoints.{{@index}}.name" data-schema-key="datapoints.{{@index}}.name" value={{value.name}} readonly type="hidden">
      <input name="datapoints.{{@index}}.description" data-schema-key="datapoints.{{@index}}.description" value={{value.description}} type="hidden">
      <input name="datapoints.{{@index}}.type" data-schema-key="datapoints.{{@index}}.type" value={{value.type}} type="hidden">
        {{#if (checkFor value.type 'cv')}}
          {{value.name}}:
          <select name="datapoints.{{@index}}.value" data-schema-key="datapoints.{{@index}}.value">
            {{#each derp in (test value.custom_options)}}
              <option>{{derp}}</option>
            {{/each}}
          </select><br>
        {{else if (checkFor value.type 'yn')}}
        {{value.name}}:
        <select name="datapoints.{{@index}}.value" data-schema-key="datapoints.{{@index}}.value">
          <option>yes</option>
          <option>no</option>
        </select><br>
        {{else}}
          {{value.name}}:<input type="text" name="datapoints.{{@index}}.value" data-schema-key="datapoints.{{@index}}.value" value=""><br>
          <i>{{value.description}}</i><br>
          <br>
        {{/if}}
      {{/each}}
      {{>afQuickField name='entry' rows=6}}
      <button type="submit">Add Entry!</button>
    {{/autoForm}}
  </div>
</template>

<template name="NewJournal">
  {{> quickForm collection="Journal" id="insertBookForm" type="insert"}}
</template>

<template name="ViewJournals">
  <header><h1>Journals</h1></header>
  {{#each journals}}
    {{name}} by: {{username(createdBy)}}<br>
  {{/each}}

  <a href="/newjournal"><br><li class="fa fa-plus"></li>New Journal</a>
</template>

<template name="ViewEntries">
  {{#each entries}}
    <h1><a href="/ViewEntry/{{_id}}">{{title}}</a></h1>
  {{/each}}
</template>

<template name="ViewEntry">
    <h1>{{entry.title}}</h1>
    {{#each entry.datapoints}}
      <b>{{name}} : </b> {{value}}<br>
    {{/each}}
    <b>Entry:</b><br>
    {{entry.entry}}
</template>

<template name="Nav">
  {{#if currentUser}}
  ||<a href="/journals">Journals</a>//
  <a href="/entries">Entries</a>//
  <a href="/selectjournal"><li class="fa fa-plus"></li>New Entry</a>//
  <a href="/profile"><li class="fa fa-user"></li>Profile</a>
  ||
  {{else}}
    --- Please Login ---
  {{/if}}
</template>

<template name="Profile">

  <div class="profile">
    <img src="{{user.google.picture}}" class="profile_photo"/><br>
    <span><b>First Name:</b>{{user.google.given_name}}<li class="fa fa-edit"></li></span><br>
    <span><b>Last Name:</b>{{user.google.family_name}}<li class="fa fa-edit"></li></span><br>
    <span><b>E-mail:</b>{{user.google.email}}<li class="fa fa-edit"></li></span><br>
  </div>
</template>

<template name="Registration">
  Finish Registration Here
</template>

<template name="Home">
  Hey There {{user.name}}
</template>
